<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if page.math_support == 'mathjax' %}
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% elsif page.math_support == 'katex' %}
    <link rel="stylesheet" href="/assets/katex/katex.min.css">
    <script src="/assets/katex/katex.min.js"></script>
    <!-- <script src="/assets/katex/contrib/auto-render.min.js"></script> -->
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script> <!-- change to jquery -->
    {% endif %}
</head>
