<script>
    /* auto-render extension in katex is deprecated now
      renderMathInElement(
          document.getElementById("test"),
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
      */

    // use jquery to render 
    $("script[type='math/tex']").replaceWith(
      function(){
        var tex = $(this).text();
        return katex.renderToString(tex);
    });

    $("script[type='math/tex; mode=display']").replaceWith(
      function(){
        var tex = $(this).text();
        return katex.renderToString("\\displaystyle " + tex, this, { displayMode: true });
    });

</script>
